window {
  background-color: #222436;
  color: #c8d3f5;
}

#entry:nth-child(odd) {
  background-color: #222436;
}

#entry:nth-child(even) {
  background-color: #1e2030;
}

#entry:selected {
  background-color: #2d3f76;
}

#input {
  background-color: #1e2030;
  color: #828bb8;
  border-color: #2d3f76;
}

#input:focus {
  border-color: #ffc777;
}
